apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/instance: ledfx
    app.kubernetes.io/name: ledfx
  name: ledfx
  namespace: ledfx
spec:
  ports:
  - name: service
    port: 80
    protocol: TCP
    targetPort: 8888
  selector:
    app: ledfx-snapcast
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}
